
/* ----- Reset CSS ----- */

@import "reset.css";


/* ----- Global CSS ----- */

@import "global.css";


/* ----- Print Style ----- */

.main-title {
    height: 38px;
    background: #ecf3fe;
    position: relative;
}

.main-title h1, .main-title h2 {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    position: absolute;
    top: 10px;
    left: 20px;
}

p.desc {
    margin: 20px;
    border: 1px dotted #cccccc;
    background: #eeeeee;
    padding: 6px 10px;
}

.demo {
    margin: 20px;
    border: 1px solid #aaaaaa;
}

.demo iframe {
    width: 100%;
    height: 300px;
}

.entry {
    padding: 0 40px 20px;
}

.entry h3 {
    font-size: 18px;
    padding: 0 0 8px 0;
    border-bottom: 1px solid #333333;
    margin: 20px 0 10px 0;
}

.entry p {
    padding: 0 0 10px 0;
}